{% extends 'base.html.twig' %}

{% block title %}Nos plats{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('asset/css/selection.css')}}">
{% endblock %}

{% block body %}
<section id="dishes">
    <h2 class="text-center mb-5">Nos plats</h2>
    <div class="container-fluid dish-page">
        <div class="vertical-menu">

          <div class="price-filter">
            <h5>filtrer par prix</h5>
            <ul>
              <li>
                <label for="price-under-ten">
                  <input type="radio" name="price-under-ten" id="price-under-ten">
                  <span>10 euros ou moins</span>
                </label>
              </li>
              <li>
                <label for="price-under-fifteen">
                  <input type="radio" name="price-under-fifteen" id="price-under-fifteen">
                  <span>Entre 10 et 15 euros</span>
                </label>
              </li>
              <li>
                <label for="price-fifteen-plus">
                  <input type="radio" name="price-fifteen-plus" id="price-fifteen-plus">
                  <span>15 euros et plus</span>
                </label>
              </li>
            </ul>
          </div>
          <div class="food-category">
            <h5>Catégories</h5>
            <ul>
              <li>
                <label for="lorem-food">
                  <input type="checkbox" name="lorem-food" id="lorem-food">
                  <span>Lorem ipsum</span>
                </label>
              </li>
              <li>
                <label for="lorem-food">
                  <input type="checkbox" name="lorem-food" id="lorem-food">
                  <span>Lorem ipsum</span>
                </label>
              </li>
              <li>
                <label for="lorem-food">
                  <input type="checkbox" name="lorem-food" id="lorem-food">
                  <span>Lorem ipsum</span>
                </label>
              </li>
              <li>
                <label for="lorem-food">
                  <input type="checkbox" name="lorem-food" id="lorem-food">
                  <span>Lorem ipsum</span>
                </label>
              </li>
              <li>
                <label for="lorem-food">
                  <input type="checkbox" name="lorem-food" id="lorem-food">
                  <span>Lorem ipsum</span>
                </label>
              </li>
              <li>
                <label for="lorem-food">
                  <input type="checkbox" name="lorem-food" id="lorem-food">
                  <span>Lorem ipsum</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
       
        <div class="selection-dishes">
          <div class="container">
            <div class="row">
            {% for dish in dishes %}
              <div class="card col-lg-3">
                <img
                  class="card-img-top"
                  src="{{ dish.url }}"
                  alt="Card image cap"
                />
                  <div class="card-body">
                    <h4 class="text-center">{{ dish.name }}</h4>
                    <div class="dish-options">
                    </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        
  
    </div>
  </section>
{% endblock %}
