  #home-explanation {
    background-color: #8f6f5c;
    padding: 0 12% 0 12%;
  }
  #home-explanation h2 {
    font-size: 56px;
    color: #fff;
    font-family: "Archivo", sans-serif;
    font-weight: 800;
    padding: 2% 0 5% 0;
  }
  #home-explanation h4 {
    font-size: 28px;
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    color: black;
  }
  #home-explanation p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
  #home-explanation img {
    width: 200px;
    height: 200px;
    border-radius: 4%;
  }
  
  #home-offer {
    background-color: #fff;
  }
  
  #home-offer .row img {
    height: 400px;
  }
  
  #home-offer h2 {
    font-size: 56px;
    color: #684f40;
    font-family: "Archivo", sans-serif;
    font-weight: 800;
    padding: 3% 0 5% 0;
  }
  #home-offer .row .card {
    margin: 0 5% 5% 5%;
  }
  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  
  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }
