@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500&display=swap");

:root {
  /* --first: #194833; */
  --first: #3d6642;
  --second: #ffcf75;
  --third: #fff0bc;
  --fourth: #eef66c;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
html {
  overflow-x: hidden;
}
#site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  padding: 0.3rem 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
    color: #684f40;
    font-size: 2.5rem;
    font-weight: bolder;
  }
  
  header .navbar a {
    font-size: 1.3rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    color: #684f40;
  }
  header .navbar a.active,
  header .navbar a:hover {
    color: #fdbd32;
    /* background: var(--first); */
  }
  
  header .icons i,
  header .icons a {
    cursor: pointer;
    margin-left: 0.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #684f40;
    text-decoration: none;
    border-radius: 50%;
    background: #eee;
  }
  
  header .icons i:hover,
  header .icons a:hover {
    color: #fff;
    background: #fdbd32;
    transition: all 0.4s linear;
    transform: rotate(360deg);
  }
  header .icons #menu-bars {
    display: none;
  }

/***** FOOTER *********/

footer {
  color: #fff;
  background: #303133;
  padding: 2% 0 2% 0;
}
footer .container a {
  color: #fff;
}

footer p {
  margin-bottom: 0;
}